.conteiner{
    border:1px solid black;
    height:100%;
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-left:30rem;
}
.card{
    border:1px solid yellow;
    width: 100rem;
    height:100rem;

}
.cardimg{
    border: 1px solid red;
    height:100rem;
    width: 100rem;
    background-image: url("./common/imm.png");
    background-size: contain;
    background-repeat: no-repeat;

}