/* ----------------- TAG GENERALI ----------------- */

* {
  color: white;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 54px;
  margin: 0px;
}

p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

/* ----------------- HEADER ----------------- */

.header-explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 30px 50px;
  margin: 0px;
}

.logo-nav {
  float: left;
  align-items: center;
}

header nav {
  float: right;
}

header svg {
  width: 160px;
  color: white;
}

header svg:hover {
  color: white;
}

#lista-menu {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 8px;
  align-items: center;
}

#lista-menu li {
  margin: 5px;
}

#lista-menu li a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
}

#lista-menu li a:hover {
  background-color: #9b9b9b6e;
  border-radius: 6px;
}

#lista-menu li:last-child a {
  background-color: unset;
  padding: none;
}

#lista-menu li:last-child a:hover {
  background-color: unset;
  padding: none;
}

#lista-menu button {
  border: none;
  padding: 10px 15px;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#lista-menu button:hover {
  background-color: rgba(255, 255, 255, 0.753);
}

/* ----------------- ESPLORA L'APP ----------------- */

.explore {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.explore h1 {
  font-size: 18px;
}

.explore h2 {
  text-align: center;
  font-size: 90px;
  margin-top: 20px;
  margin-bottom: 0px;
}

/* ----------------- MIX E RADIO ----------------- */

.mix-radio {
  display: flex;
  background: radial-gradient(
      circle,
      rgba(39, 46, 136, 0.5) 0%,
      rgba(2, 2, 5, 0.5) 100%
    ),
    url(https://tidal.com/_nuxt/img/mixes-carousel.908b22a.jpg) no-repeat center
      center / contain;
  justify-content: space-evenly;
  padding: 130px 240px;
}

.text-mix {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-mix {
  display: flex;
  height: 720px;
}

/* ----------------- PLAYLIST ----------------- */

.playlist {
  background-color: black;
  text-align: center;
  padding-bottom: 100px;
}

.text-playlist {
  padding: 108px 0px;
}

.playlist-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow: hidden;
}

.playlist-row img {
  width: 180px;
  height: 180px;
}

/* ----------------- VIDEO E LIVESTREAM ----------------- */

.video-live {
  display: flex;
  background-image: radial-gradient(
    50% 50% at 75%,
    rgba(208, 20, 31, 0.75),
    transparent
  );
  padding: 130px 240px;
  overflow: hidden;
  justify-content: space-evenly;
}

.text-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-video {
  display: flex;
  width: 430px;
  height: 380px;
}

/* ----------------- CREDITS ----------------- */

.credits {
  background-image: radial-gradient(50% 50% at 35%, #3a1d5e, transparent);
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 135px;
  padding-left: 190px;
  padding-right: 120px;
}

.credits a {
  color: #b29eec;
}

.img-credits {
  display: flex;
  justify-content: center;
  height: 520px;
}

.text-credits {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ----------------- DOVUNQUE ----------------- */

.dovunque {
  background-image: radial-gradient(50% 60% at 75%, #55004c, transparent);
  display: flex;
  justify-content: flex-end;
  padding: 60px 0px 140px 0px;
}

.text-dovunque {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 95px;
}

.img-dovunque {
  display: flex;
  justify-content: center;
  height: 460px;
}

/* ----------------- SCOPRI DI PIÙ ----------------- */

.scopri {
  padding: 100px;
}

.scopri h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 130px;
  color: black;
  -webkit-text-stroke: 2px rgba(128, 128, 128, 0.3);
  letter-spacing: 2px;
}

.scopri-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 40px;
}

.scopri-grid-items {
  padding: 40px;
  border-radius: 15px;
  height: 530px;
  width: 400px;
  transition: all 0.3s ease-in-out;
}

.scopri-grid-items h2 {
  font-size: 22px;
}

.scopri-grid-items p {
  font-size: 18px;
}

.scopri-grid-items a {
  text-decoration: none;
}

.scopri-grid-items:hover {
  filter: drop-shadow(0px 0px 30px rgba(128, 128, 128, 0.2));
}

.scopri-grid-items:nth-child(1) {
  background-image: url(/img/devices-bg.3dd0017.png);
  background-color: #080808;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-y: 20%;
  background-position-x: right;
}

.scopri-grid-items:nth-child(2) {
  /* background-image: linear-gradient(359.43deg,#101012 .47%,rgba(16,16,18,.8017) 50.56%,rgba(16,16,18,0) 87%),
    url(/img/applewatch.png); */
  background-image: url(/img/Screenshot-2022-02-23-at-12.33.55.png);
  background-color: #080808;
  background-repeat: no-repeat;
  background-size: 55%;
  background-position-y: 10%;
  background-position-x: 50%;
}

.scopri-grid-items:nth-child(3) {
  background-image: url(img/card-soundquality.c2cb0bf.jpg);
  background-color: #101011;
  background-repeat: no-repeat;
  background-position: top;
}

.grid-box {
  height: 300px;
}

.scopri-grid-items:nth-child(3) .grid-box {
  height: 225px;
}

.grid-box h3 {
  text-align: center;
  font-size: 34px;
  margin-top: 70px;
}

/* ----------------- PROVA GRATUITA ----------------- */

.prova-gratuita {
  display: flex;
  justify-content: space-evenly;
  background-color: #011d27;
  padding-top: 120px;
}

.text-prova {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-prova button {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 60px;
  width: 250px;
  color: black;
  margin-top: 25px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.text-prova button:hover {
  background-color: #ccd2d4;
  cursor: pointer;
}

.img-prova img {
  height: 430px;
}

/* ----------------- FOOTER ----------------- */

footer {
  background-color: #09090a;
}

footer p {
  color: #9b9b9b;
  font-size: 13px;
  line-height: 20px;
}

.footer-credits {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 150px 5px 150px;
}

.footer-credits svg {
  fill: #9b9b9b;
  width: 25px;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

footer svg:hover {
  fill: white;
}

hr {
  margin-left: 150px;
  margin-right: 150px;
  border: solid 0.3px #9b9b9b;
  opacity: 0.5;
}

.footer-copyright {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  padding: 0px 150px 50px 150px;
}

.footer-copyright svg {
  fill: #9b9b9b;
  width: 25px;
  height: 25px;
  padding-right: 15px;
  transition: all 0.3s ease-in-out;
}

.footer-copyright-col1 {
  display: flex;
  align-items: center;
}

.footer-copyright-col2 {
  display: flex;
  align-items: center;
}

.footer-copyright-col2 ul {
  list-style-type: none;
  display: inline;
}

.footer-copyright-col2 li {
  display: inline;
}

.footer-copyright-col2 a {
  color: white;
  font-size: 13px;
  font-weight: 200;
  line-height: 20px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}

.footer-copyright-col2 a:hover {
  color: #0ff;
  text-transform: underline;
}
