*{
    color: white;
}*

body {
    font-family: Montserrat, sans-serif;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 54px;
    margin: 0px;
}

p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}

a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.explore {
    background-color: black;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}

.explore h1 {
    font-size: 18px;
}

.explore h2 {
    text-align: center;
    font-size: 120px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.mix-radio {
    display: flex;
    background: radial-gradient(circle, rgba(39,46,136,0.5) 0%, rgba(2,2,5,0.5) 100%),
    url(https://tidal.com/_nuxt/img/mixes-carousel.908b22a.jpg) no-repeat center center / contain;
    padding: 130px 160px;
}

.text-mix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 120px;
}

.img-mix {
    display: flex;
    height: 720px;
}

.playlist {
    background-color: black;
    text-align: center;
    padding: 108px 300px;
}

.playlist h1 {
    margin: 0px;
    font-size: 64px;
}

.playlist p {
    font-size: 24px;
    line-height: 1.5;
}