.bold {
    font-weight: 900;
}

.fontColor {
    color: white;
}

.textAlign {
    text-align: center;
}

.brightness {
    filter: brightness(50%);
}


a {
    text-decoration: none;
    color: white;
}



body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;


}

/*---------------------- Header ----------------------*/

.topCard {
    height: max-content;

    display: flex;
    justify-content: space-between;
    padding: 50px 70px 0;
    align-items: center;
    background-color: #094f4c;

}

.margin {
    margin: 0;
}

.topCard__logo {

    width: 170px;
}

.buttonForm {
    display: flex;
    align-items: center;
    gap: 30px;

}

/*---------------------- First_Section ----------------------*/

.page1 {
    height: 100%;
    background-color: #094f4c;
    display: flex;

}

.leftCard {
    animation: fade-up 0.8s ease 1s;
    width: max-content;
    height: 40rem;
    margin-left: 300px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;


}

.leftCard>h2 {
    font-size: 10rem;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 3PX;
    line-height: 20px;
}

.leftCard>p {
    padding-top: 100px;
}

#your {
    color: #a9e8e8;
}

#music {
    color: #00cdcc;
}

.trial {
    background-color: #a9e8e8;
    width: max-content;
    padding: 20px 30px;


}

.trial a {
    color: black;
}

.vodafone {
    background-color: #d32c1f;
    padding: 20px 50px;
    margin-top: 15px;

}

.leftCard>button {
    width: max-content;
    border-radius: 5px;
}

.write {
    position: relative;
    bottom: 9rem;
}

.blueBox div {
    position: relative;
    top: 13rem;
}

.blueBox img {
    position: relative;
    top: 3rem;

}

.rightCard {
    animation: fade-up 0.4s ease 1s;
    width: 20rem;
    background-image: url(img/left.svg);
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 200px;

}



  
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(500px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

/*---------------------- Section_2 ----------------------*/

.page2 {


    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.page2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.page2 img {
    width: 14rem;
    margin-top: 70px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);


}

.page2 p {
    line-height: 1.5rem;
}

.sizeCard {
    width: 22rem;
    height: 40rem;
    border-radius: 0.5rem;
    margin-top: 150px;
}


.redBox {
    background-color: #800d20cc;
    transition: all 0.3s ease-in-out;
}

.redBox:hover {
    filter: brightness(150%);
    filter: drop-shadow(0 0 50px #800d2073);
    background-color: #800d21;
}

.purpleBox {

    background: linear-gradient(180deg, rgba(138, 7, 70, 0.9) 0%, rgba(194, 12, 83, 0.9) 36%, rgba(110, 11, 96, 0.9) 66%, rgba(87, 11, 100, 0.9) 100%);
    transition: all 0.3s ease-in-out;
}

.purpleBox:hover {
    filter: brightness(150%);
    filter: drop-shadow(0 0 50px rgba(138, 7, 70, 0.5));

    background: linear-gradient(180deg, rgb(138, 7, 70) 0%, rgba(194, 12, 83, 1) 36%, rgba(110, 11, 96, 1) 66%, rgba(87, 11, 100, 1) 100%);
}



.blueBox {
    background-color: #201780ca;
    transition: all 0.3s ease-in-out;
}

.blueBox:hover {
    filter: brightness(150%);
    filter: drop-shadow(0 0 50px #20178077);
    background-color: #201780;
}


/*---------------------- Section_3 ----------------------*/

.page3 {


    width: 100%;
    height: 100%;

    margin: 200px 0;


}

.page3>h1 {
    font-size: 60px;
}

.cardForm {

    display: flex;
    justify-content: center;
    gap: 80px;

}

hr {
    border: 1px solid grey;
}

/*---------------------- Section_4 ----------------------*/

.page4 {


    width: 100%;
    height: 100%;
}

.card4 {
    height: 20rem;
    width: 15rem;

}

/*---------------------- Section_5 ----------------------*/

.page5 {


    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.qualityForm {

    width: max-content;

    background-color: #09090a;

    display: flex;
    gap: 3rem;
    padding: 4rem;
    align-items: center;

}

.qualityForm img {
    width: 6rem;
    padding-left: 4rem;
}




.whatIf {
    background-color: #101012;

    margin-top: 20rem;
    width: 100%;
    padding-bottom: 6rem;

}

.whatIf img {
    width: 10rem;
    margin-inline: 3rem;
}

.whatIf img:hover {
    filter: brightness(100%);
}

#pc {
    width: 4rem;
}

.whatIf>p {
    padding: 8rem;
    font-size: 35px;
}

/*---------------------- Section_6 ----------------------*/

.page6 {


    width: 100%;
    height: 100%;
    margin-top: 20rem;

}

.soundtrack {
    margin-bottom: 4rem;
    font-size: 3rem;
}

/*---------------------- Section_7 ----------------------*/

.page7 {


    width: 100%;
    height: 100%;
}

.playlist {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 0.2rem;

}


.album {
    position: relative;

}

.album img {
    width: 220px;
}

.album:hover .albumText {
    display: flex;
    opacity: 1;


}

.albumText {
    display: none;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    width: 220px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: contain;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}

button {
    background-color: transparent;
    border: transparent;
}

#free {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    font-size: 1rem;

}



.greenContainer {
    background-color: #33a39d;


}

.orangeContainer {
    background-color: #fcae63;


}

.greenList {
    background-color: #72c5c1;



}

.orangeList {
    background-color: #fac28c;

}

#link {
    text-decoration: underline;
    text-decoration-color: white;
    margin-bottom: 10rem;
    margin-top: 3rem;

}

.box {
    width: max-content;
    padding: 40px;
    border-radius: 10px;
}

.payForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    font-weight: bold;
    text-align: center;

}

.payForm>a {
    color: black;
    text-decoration: underline;
    margin-top: 25px;
}

.payForm>button {
    background-color: white;
    width: max-content;
    padding: 20px 100px;
    border-radius: 10px;
    font-weight: bold;

}

.faq {
    background-color: #141417;

    padding: 6rem 0;
}

.faq h1 {
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.faq p {
    line-height: 2rem;
}


/* ----------------- FOOTER ----------------- */

footer {
    background-color: #09090a;
    font-family: 'Montserrat', sans-serif;

}

footer p {
    color: #9b9b9b;
    font-size: 1rem;
    line-height: 20px;
    font-weight: 900;
}

.footer-grid {
    display: flex;
    padding: 100px 160px 20px 160px;
    background-color: #09090a;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8rem;
}

.footer-grid h3 {
    font-size: 1.2rem;
    color: #9b9b9b;
    font-weight: 200;
}

.footer-grid a {
    font-size: 1rem;
    font-weight: 200;
    line-height: 40px;
    border-bottom: solid 1px transparent;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.footer-grid a:hover {
    border-bottom: solid 1px #0ff;
    color: #0ff;
}

.footer-grid ul {
    padding: 0px;
}

.footer-grid-col1 {
    height: 100%;
    width: 25%;
}

.footer-grid-col2 {
    height: 100%;
    width: 25%;
}

.footer-grid-col3 {
    height: 100%;
    width: 25%;
}

.footer-grid-col4 {
    height: 100%;
    width: 25%;
}

.footer-grid-col5 {
    height: 100%;
    width: 25%;
}

ul {
    list-style-type: none;
}

li {
    line-height: 3rem;
}

.prova-button {
    margin-top: 50px;
}

.prova-button button {
    border: solid 1px #0ff;
    border-radius: 5px;
    background-color: #09090a;
    padding: 15px 0px;
    width: 100%;
    color: #0ff;

    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.prova-button button:hover {
    background-color: rgba(0, 255, 255, 0.25);
}


.footer-credits {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2rem 12rem 0.5rem 16rem;
}

.footer-credits svg {
    fill: #9b9b9b;
    width: 25px;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.footer-credits svg:hover {
    fill: white;
}

.footer-credits p {
    font-size: 0.75rem;
    line-height: 1.5rem;

}

.footer-credits-col2 {
    display: flex;
    align-items: center;
}


hr {
    margin-left: 150px;
    margin-right: 150px;
    border: solid 0.3px #9b9b9b;
    opacity: 0.5;
}

.footer-copyright {
    display: flex;
    gap: 6rem;
    justify-content: center;

}

.footer-copyright p {
    font-size: 0.9rem;
}

.footer-copyright svg {
    fill: #9b9b9b;
    width: 25px;
    height: 25px;
    padding-right: 15px;
    transition: all 0.3s ease-in-out;
}

.footer-copyright-col1 {
    display: flex;
    align-items: center;
}

.footer-copyright-col2 {
    display: flex;
    align-items: center;
}

.footer-copyright-col2 ul {
    list-style-type: none;
    display: inline;
}

.footer-copyright-col2 li {
    display: inline;
}

.footer-copyright-col2 a {
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 20px;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}

.footer-copyright-col2 a:hover {
    color: #0ff;
    text-transform: underline;
}





