html {
    font-size: 10px;
}

ul {
    padding: 0;
}

.bold {
    font-weight: 900;
}

.fontColor {
    color: white;
}

.textAlign {
    text-align: center;
}

.brightness {
    filter: brightness(50%);
}


.box {
    width: max-content;
    padding: 4rem;
    border-radius: 1rem;
}

.cardForm {

    display: flex;
    justify-content: center;
    gap: 6rem;

}

a {
    text-decoration: none;
    color: white;
}



body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;


}

/*---------------------- Header ----------------------*/

header {
    height: max-content;

    display: flex;
    justify-content: space-between;
    padding: 3rem 7rem 0;
    align-items: center;
    background-color: #094f4c;

}

.margin {
    margin: 0;
}

.logo {

    width: 17rem;
}
.container-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: #094f4c;

}

.tidal-logo {
    width: 16rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    gap: 1rem;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.wrapper_btn {
    padding-top: 2rem;
}

.dropbtn {
    display: flex;
    gap: 1rem;
}

#free {
    background-color: white;
    border-radius: 0.5rem;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-left: 3rem;
}

.btn_access {
    font-family: Montserrat;
    font-weight: bold;
    padding: 1rem 3rem;
    height: max-content;
    align-items: center;
}

.dropdown .dropbtn {
    font-size: 2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    color: white;
    padding: 1.4rem 1.6rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #26282d;
}

.dropdown-content {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*------------------------ navbar ------------------------*/

.navbar {
    display: flex;
    align-items: center;
    gap: 3rem;

}

#free {
    color: black;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-weight: bold;

}

/*---------------------- First_Section ----------------------*/

.page1 {
    height: 100%;
    background-color: #094f4c;
    display: flex;

}

.head {
    animation: fade-up 0.8s ease 1s;
    width: max-content;
    margin-left: 30rem;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 15rem;


}

.head>h2 {
    font-size: 20rem;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 0.3rem;
    line-height: 2rem;
}

.head>p {
    padding-top: 10rem;
    font-size: 2rem;
}

.head-btn {
    display: flex;
    flex-direction: column;
}

#your {
    color: #a9e8e8;
}

#music {
    color: #00cdcc;
}

.trial {
    background-color: #a9e8e8;
    width: max-content;
    padding: 2rem 3rem;
    border-radius: 5px;

}

.trial a {
    color: black;
}

.vodafone {
    background-color: #d32c1f;
    padding: 2rem 5rem;
    margin-top: 1.5rem;
    width: max-content;
    border-radius: 5px;

}

.head>button {
    width: max-content;
    border-radius: 0.5rem;
}



.homepage-img {
    animation: fade-up 0.4s ease 1s;
    width: max-content;
    background-repeat: no-repeat;
    margin-left: 25rem;
    margin-top: 20rem;

}




@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*---------------------- CARDS(red,purple and blue) ----------------------*/

.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.cards img {
    width: 30rem;
    margin-top: 7rem;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);


}

.cards p {
    line-height: 1.5rem;
}

.cards a {
    font-size: 2rem;
}

.sizeCard {
    width: 47rem;
    height: 80rem;
    border-radius: 1rem;
    margin-top: 15rem;
}


.redBox {
    background-color: #800d20cc;
    transition: all 0.3s ease-in-out;
    display: flex;
}

.redBox:hover {
    filter: brightness(150%);
    filter: drop-shadow(0 0 5rem #800d2073);
    background-color: #800d21;
}

.purpleBox {

    background: linear-gradient(180deg, rgba(138, 7, 70, 0.9) 0%, rgba(194, 12, 83, 0.9) 36%, rgba(110, 11, 96, 0.9) 66%, rgba(87, 11, 100, 0.9) 100%);
    transition: all 0.3s ease-in-out;
    display: flex;
}

.purpleBox:hover {
    filter: brightness(150%);
    filter: drop-shadow(0 0 5rem rgba(138, 7, 70, 0.5));

    background: linear-gradient(180deg, rgb(138, 7, 70) 0%, rgba(194, 12, 83, 1) 36%, rgba(110, 11, 96, 1) 66%, rgba(87, 11, 100, 1) 100%);
}



.blueBox {
    background-color: #201780ca;
    transition: all 0.3s ease-in-out;
    display: flex;
}

.blueBox:hover {
    filter: brightness(150%);
    filter: drop-shadow(0 0 5rem #20178077);
    background-color: #201780;
}

.blueBox div {
    position: relative;
    top: 25rem;
}

.blueBox img {
    position: relative;
    top: 3rem;

}

.blueBox b {
    font-size: 2.5rem;
}

.blueBox p {
    line-height: 3rem;
    font-size: 2rem;
}

.write {
    position: relative;
    bottom: 22rem;


}

.write b {
    font-size: 2.5rem;
}

.write p {
    line-height: 3rem;
    font-size: 2rem;
}



/*---------------------- Sound Section ----------------------*/

.sound-section {

    margin: 20rem 0;

}

.sound-section h1 {
    font-size: 6rem;
}

.sound-section p {
    font-size: 2.2rem;
}


hr {
    border: 1px solid grey;
}



.sound-card {
    text-align: justify;
    padding-top: 25rem;

}

/* .sound-card:hover {} */

.sound-card div {
    display: flex;
}

.sound-card h1 {
    font-size: 5rem;
}

.sound-card p {
    font-size: 2rem;
    line-height: 3rem;
}

/* .sound-normal {
   
}

.sound-hifi {}

.sound-normal {}

.sound-quality {}

.sound-kbps {}
 */
/*---------------------- Wrapper ----------------------*/

.wrapper {


    display: flex;
    flex-direction: column;
    align-items: center;

}

.qualityForm {

    width: max-content;

    background-color: #09090a;

    display: flex;
    gap: 3rem;
    padding: 4rem;
    align-items: center;

}

.qualityForm img {
    width: 12rem;
    padding-left: 4rem;
}

#mqa {
    width: 7rem;
}

.qualityForm p {
    font-size: 2.5rem;
}

.qualityForm a {
    font-size: 2rem;
}



.whatIf {
    background-color: #101012;

    margin-top: 7rem;
    width: 100%;
    padding-bottom: 6rem;

}

.whatIf img {
    width: 20rem;
    margin-inline: 3rem;
}

.whatIf img:hover {
    filter: brightness(100%);
}

#pc {
    width: 10rem;
}

.whatIf>p {
    padding: 8rem;
    font-size: 3.5rem;
}

/*-------------------- Orange and Green containers --------------------*/

.containers {
    margin-top: 20rem;

}

.soundtrack {
    margin-bottom: 4rem;
    font-size: 6rem;
}

.greenContainer h1 {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.644);

}

.greenContainer h1 {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.644);

}

.greenContainer h2 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.644);

}

.orangeContainer h2 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.644);
}


.greenList>ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 5rem;
    font-weight: bold;
}

.orangeList>ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 5rem;
    font-weight: bold;
}

.greenList li {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.644);
}

.orangeList li {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.644);
}

.greenContainer {
    background-color: #33a39d;


}

.greenContainer:hover {
    background-color: #20a39d;

}

.orangeContainer {
    background-color: #fcae63;


}

.orangeContainer:hover {
    background-color: #fcb878;
    ;
}

.greenList {
    background-color: #72c5c1;
    padding-bottom: 20rem;
}

.orangeList {
    background-color: #fac28c;
    padding-bottom: 20rem;
}

#link {
    text-decoration: underline;
    text-decoration-color: white;
    margin-bottom: 10rem;
    margin-top: 3rem;
    font-size: 2rem;

}

.payForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25rem;
    font-weight: bold;
    text-align: center;

}

.payForm>a {
    color: black;
    text-decoration: underline;
    margin-top: 2.5rem;
    font-size: 1.5rem;
}

.payForm p {
    font-size: 2rem;
}

.payForm>button {
    background-color: white;
    width: max-content;
    padding: 2rem 10rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 2rem;

}

/*---------------------- Playlist ----------------------*/



.playlist {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 0.2rem;

}


.album {
    position: relative;
    width: 22rem;
}

.album img {
    width: 100%;
    height: 100%;
}

.album:hover .albumText {
    display: flex;
    opacity: 1;


}

.albumText {
    display: none;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    width: 22rem;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: contain;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}

button {
    background-color: transparent;
    border: transparent;
}

.playlist-mobile {
    display: none;
}

.playlist-tablet {
    display: none;
}


/*---------------------- FAQ ----------------------*/

.faq {
    background-color: #141417;

    padding: 6rem 0;
}

.faq h1 {
    font-size: 7rem;
    margin-bottom: 5rem;
}

.faq h2 {
    padding-top: 9rem;
    font-size: 3rem;

}

.faq p {
    line-height: 3rem;
    font-size: 2rem;
}


/* -------------------- Footer -------------------- */

footer {
    background-color: #09090a;
}

footer p {
    color: #9b9b9b;
    font-size: 13px;
    line-height: 20px;
}

.footer-grid {
    display: flex;
    padding: 100px 160px 20px 160px;
    background-color: #09090a;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8rem;
    color: white;
}

.footer-grid h3 {
    font-size: 18px;
    color: #9b9b9b;
    font-weight: 200;
}

.footer-grid a {
    font-size: 16px;
    font-weight: 200;
    line-height: 40px;
    transition: all 0.5s ease-in-out;
}

.footer-grid a:hover {
    text-decoration: underline;
    color: #0ff;
}

.footer-grid ul {
    padding: 0;
}

.footer-grid-col1 {
    height: 100%;
    width: 25%;
}

.footer-grid-col2 {
    height: 100%;
    width: 25%;
}

.footer-grid-col3 {
    height: 100%;
    width: 25%;
}

.footer-grid-col4 {
    height: 100%;
    width: 25%;
}

.footer-grid-col5 {
    height: 100%;
    width: 25%;
}

ul {
    list-style-type: none;
}

li {
    line-height: 3rem;
}

.prova-button {
    margin-top: 50px;
}

.prova-button button {
    border: solid 1px #0ff;
    border-radius: 5px;
    background-color: #09090a;
    padding: 15px 0px;
    width: 100%;
    color: #0ff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.prova-button button:hover {
    background-color: rgba(0, 255, 255, 0.25);
}



.footer-credits {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 400px 5px 150px;

}

.footer-credits svg {
    fill: #9b9b9b;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
    width: 4rem;
}

.footer-credits svg:hover {
    fill: white;
}

.footer-credits-col2 {
    display: flex;
    align-items: center;
    gap: 2rem;

}


hr {
    margin-left: 150px;
    margin-right: 150px;
    border: solid 0.3px #9b9b9b;
    opacity: 0.5;
}

.footer-copyright {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    padding: 0px 150px 50px 150px;
}

.footer-copyright svg {
    fill: #9b9b9b;
    width: 3rem;
    padding-right: 15px;
    transition: all 0.3s ease-in-out;
}

.footer-copyright-col1 {
    display: flex;
    align-items: center;
}

.footer-copyright-col2 {
    display: flex;
    align-items: center;
    color: white;
}

.footer-copyright-col2 ul {
    list-style-type: none;
    display: inline;
}

.footer-copyright-col2 li {
    display: inline;
}

.footer-copyright-col2 a {
    color: white;
    font-size: 13px;
    font-weight: 200;
    line-height: 20px;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}

.footer-copyright-col2 a:hover {
    color: #0ff;
    text-transform: underline;
}



/* -------------------- Media query -------------------- */


/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px) {




    .navbar {
        display: none;
    }

    .head {
        margin-left: 0;
        padding: 5rem 0 10rem 5rem;
        width: 90%;
        margin-top: -5rem;

    }

    .head h2 {
        font-size: 10rem;


    }

    .head p {
        font-size: 1.2rem;

        padding-top: 5rem;
    }

    .head-btn {

        font-size: 5rem;
        padding-top: 4rem;

        padding-top: 5rem;
    }

    .head-btn button {
        font-size: 1.5rem;
    }



    .homepage-img {
        margin-left: 0;
    }

    .homepage-img img {
        width: 95%;
    }


    .head h2 {
        font-size: 12rem;

    }

    .cards {
        justify-content: flex-start;
        padding-top: 2rem;
    }




    .sizeCard {
        width: 25rem;
        height: 50rem;
        margin-top: 2rem;
        overflow: hidden;
    }

    .sizeCard img {
        margin: 0;
        width: 70%;
        padding: 2rem;
    }

    .write p,
    .write a,
    .write b,
    .blueBox p,
    .blueBox a,
    .blueBox b {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .write {
        margin-top: 12rem;
    }

    .blueBox div{
        margin-top: -7rem;
    }

    .sound-section h1{
        font-size: 4rem;
    }

    .sound-section p{
        font-size: 2rem;
    }

    .cardForm{
        padding:5rem 3rem;
        gap: 3rem;
    }

    .sound-card{
        padding: 0;
    
    }

    .sound-card h1{
        font-size: 3rem;
    }

    .sound-card p{
        font-size: 1.3rem;
        text-align:left;
    }

    .qualityForm{
        width: 85%;
    }

    .whatIf P{
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 4rem;
        margin: 0;
    }

    .whatIf img{
        width:16rem;

    }


    #pc{
        width: 8rem;
    }

    .soundtrack{
        font-size: 3.3rem;
    }

    .cardForm, .box{
        flex-direction: column;
        align-items: center;
    }

    .greenContainer {
        padding:4rem 6rem;
    }

    .payForm{
        margin-top: 4rem;
    }



    


    .playlist {
        display: none;
    }

    .playlist-tablet {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        column-gap: 0.2rem;
        overflow: hidden;
    }

    .footer-grid {

        padding: 40px 40px;
    }

    .footer-grid-col5 {
        display: none;
    }

    .footer-credits {
        padding: 0px 40px 20px 40px;
    }

    .footer-copyright {
        grid-template-columns: 1fr;
        padding: 20px 40px 50px 40px;
    }

    .footer-copyright-col2 {
        justify-content: flex-end;
    }

    hr {
        margin-left: 40px;
        margin-right: 40px;
    }
}


/*Mobile*/

@media only screen and (max-width:430px) {



    .navbar {
        display: none;
    }

    header {
        padding: 3rem;
    }

    .logo {

        width: 12rem;

    }


    .page1 {

        flex-direction: column-reverse;
        align-items: center;
        overflow: hidden;


    }

    .head {
        margin-left: 0;
        padding: 0 0 10rem 0;
        width: 90%;
        margin-top: -5rem;

    }


    .head h2 {
        font-size: 10rem;
        text-align: center;

    }

    .head p {
        font-size: 1.8rem;
        text-align: center;
        padding-top: 5rem;
    }

    .head-btn {
        padding-top: 4rem;
        align-items: center;
        padding-top: 5rem;
    }

    .homepage-img img {
        width: 65%;

    }

    .homepage-img {
        margin-top: 2rem;

    }

    .cardForm {

        flex-direction: column;
        gap: 15rem;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;

    }

    .sizeCard {
        width: 95%;
        margin-top: 2rem;
    }

    .sizeCard img {
        width: 25rem;
        padding: 4rem;
    }

    .sizeCard p {
        font-size: 1.5rem;
    }


    .sizeCard b {
        font-size: 2rem;
    }

    .sound-section h1 {
        font-size: 4.5rem;
        margin-top: -10rem;

    }

    .sound-section p {
        font-size: 1.5rem;
        padding: 0 5rem;
        margin-bottom: 20rem;
        line-height: 2rem;

    }

    .sound-card {
        padding: 0;
        text-align: left;
    }


    .cardForm .sound-card {
        padding-top: 3rem;
    }

    .sound-card p {

        margin: 0;
        padding: 0;
    }


    .sound-card h1 {

        font-size: 3rem;
    }



    .qualityForm {

        flex-direction: column;
        width: 75%;

    }

    .qualityForm p {
        font-size: 1.6rem;
    }

    .qualityForm img {
        padding: 0;
        width: 9rem;

    }


    .whatIf p {
        font-size: 2rem;
        padding: 3rem;
    }

    .cardForm {
        align-items: center;
        text-align: center;
    }

    .box {

        flex-direction: column;
        width: 70%;
    }

    .box li {
        font-size: 1.5rem;
    }

    .payForm {
        margin: 4rem 0 0 0;
    }

    .payForm button {
        width: 100%;
        padding: 2rem;
        font-size: 1.7rem;
    }

    .payForm p {
        font-size: 1.5rem;
    }

    .soundtrack {
        font-size: 3.5rem;
        font-weight: 600;
        padding: 3rem;
        margin-top: 0;
    }



    .greenList ul,
    .orangeList ul {
        padding: 0;
        text-align: left;
    }


    .greenList,
    .orangeList {
        padding-bottom: 2rem;
    }

    .playlist {
        display: none;
    }

    .playlist-mobile {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        column-gap: 0.2rem;
        overflow: hidden;
    }

    .faq .cardForm {
        text-align: left;
        padding-left: 2rem;
        gap: 2rem;
    }

    .faq h1 {
        font-size: 4rem;
    }

    .faq h2 {
        font-size: 2.3rem;
        padding-top: 0;

    }

    .faq p {
        font-size: 1.3rem;
    }

    .footer-grid {
        flex-direction: column;
        padding: 40px 0;
        margin-left:2rem;
    }


    .footer-grid-col5 {
        display: none;
    }

    .footer-credits {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 10px 0px 10px;
    }

    .footer-credits p {
        margin-left: 20px;
    }

    .footer-copyright {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 20px;
    }

    .footer-copyright {
        padding: 0;
    }

    .footer-copyright-col2 li {
        display: block;
    }

    hr {
        display: none;
    }

    .footer-copyright-col1 {
        padding-bottom: 20px;
        margin-left: 10px;
    }

    .footer-credits-col2 {
        padding-left: 10px;
        justify-content: flex-start;
    }
}