.bold {
    font-weight: 900;
}

.fontColor {
    color: white;
}

.textAlign {
    text-align: center;
}



a {
    text-decoration: none;

}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.topCard {
    height: max-content;

    display: flex;
    justify-content: space-between;
    padding: 50px 70px 0;
    align-items: center;
    background-color: #094f4c;

}

.topCard__logo {

    width: 170px;
}

.buttonForm {
    display: flex;
    align-items: center;
    gap: 30px;
}

.page1 {
    height: 100%;
    background-color: #094f4c;

}

.leftCard {
    
    width: max-content;
    height: 40rem;
    margin-left: 300px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}
.leftCard>h2{
    font-size: 7rem;
    font-family: ;
}

.trial{
    background-color: white;
    width: max-content;
    padding: 20px 30px;
   
}

.vodafone{
background-color:#d32c1f;
padding: 20px 50px;
margin-top: 15px;

}

.leftCard>button{
    width: max-content;
    border-radius: 5px;
}

/* .righCard {
    background-image: url(img/playlists.0165253.png);
} */

.page2 {


    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.page3 {

    border: 2px solid black;
    width: 100%;
    height: 100%;

    margin: 200px 0;


}

.page3>h1 {
    font-size: 60px;
}

.cardForm {

    display: flex;
    justify-content: center;
    gap: 80px;

}

hr {
    border: 1px solid grey;
}


.qualityForm {

    width: max-content;
    height: 200px;
    background-color: #09090a;
    margin: 20px 200px;
    font-size: 30px;
}

.page4 {


    width: 100%;
    height: 100%;
}

.card4 {
    height: 20rem;
    width: 15rem;

}

.page5 {


    width: 100%;
    height: 100%;

}

.qualityForm>img{
width: 5rem;
filter: brightness(50%);
}

.whatIf {
    background-color: #09090a;

    margin-top: 200px;

}

.whatIf>p {
    padding: 200px;
    font-size: 35px;
}

.page6 {


    width: 100%;
    height: 100%;
}

.page7 {


    width: 100%;
    height: 100%;
}

button {
    background-color: transparent;
    border: transparent;
}

#free {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
}

.sizeCard {
    width: 25rem;
    height: 40rem;
    border-radius: 5px;
    margin-top: 150px;
}


.redBox {
    background-color: #800d21;
}

.purpleBox {
    background-color: #5b0a62;
}

.blueBox {
    background-color: #201780;
}

.greenContainer {
    background-color: #33a39d;


}

.orangeContainer {
    background-color: #fcae63;


}

.greenList {
    background-color: #72c5c1;



}

.orangeList {
    background-color: #fac28c;

}

#link {
    text-decoration: underline;
    text-decoration-color: white;
    margin-bottom: 500px;
}

.box {
    width: max-content;
    padding: 40px;
    border-radius: 10px;
}

.payForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    font-weight: bold;
    text-align: center;

}

.payForm>a {
    color: black;
    text-decoration: underline;
    margin-top: 25px;
}

.payForm>button {
    background-color: white;
    width: max-content;
    padding: 20px 100px;
    border-radius: 10px;
    font-weight: bold;

}


footer p {
    color: #9b9b9b;
    font-size: 13px;
    line-height: 20px;
}

.footer-credits {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 150px 5px 150px;
}

.footer-credits svg {
    fill: #9b9b9b;
    width: 25px;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

footer svg:hover {
    fill: white;
}

hr {
    margin-left: 150px;
    margin-right: 150px;
    border: solid 0.3px #9b9b9b;
    opacity: 0.5;
}

.footer-copyright {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    padding: 0px 150px 50px 150px;
}

.footer-copyright svg {
    fill: #9b9b9b;
    width: 25px;
    height: 25px;
    padding-right: 15px;
    transition: all 0.3s ease-in-out;
}

.footer-copyright-col1 {
    display: flex;
    align-items: center;
}

.footer-copyright-col2 {
    display: flex;
    align-items: center;
}

.footer-copyright-col2 ul {
    list-style-type: none;
    display: inline;
}

.footer-copyright-col2 li {
    display: inline;
}

.footer-copyright-col2 a {
    color: white;
    font-size: 13px;
    font-weight: 200;
    line-height: 20px;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}

.footer-copyright-col2 a:hover {
    color: #0ff;
    text-transform: underline;
}


.er-fonno {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.8rem;
    
}


.visualizza {
    text-align: center;
    height: 4rem;
    background-color: #000;
    
    
}
    
footer ul li {
    line-height: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.inizi {

    height: 100%;
    width: 25%;

}

.scopri-TIDAL {
   
    height: 100%;
    width: 25%;

}

.il-mio-account {
  
    height: 100%;
    width: 25%;
}

.azienda {
 
    height: 100%;
    width: 25%;
}

.freetest {
   
    height: 100%;
    width: 25%;
}

ul {
    list-style-type: none;

}

li>a{
    color: white;
}