/* ----------------- TAG GENERALI ----------------- */

* {
  color: white;
  font-family: Montserrat, sans-serif;
}

html {
  font-size: 10px;
}

body {
  background-color: black;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 5.4rem;
  margin: 0px;
}

p {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.5;
}

a {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

/* ----------------- KEYFRAMES - ANIMATIONS ----------------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* ----------------- HEADER ----------------- */

.header-explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 30px 53px;
  margin: 0px;
}

.logo-nav {
  float: left;
  align-items: center;
}

.header-explore nav {
  overflow: hidden;
  display: flex;
  align-items: center;
}

header svg {
  width: 160px;
  color: white;
}

header svg:hover {
  color: white;
}

.dropdown-menu {
  display: flex;
  float: left;
  overflow: hidden;
  border-radius: 5px;
}

.dropdown-button {
  border: none;
  outline: none;
  padding: 10px 20px;

  position: relative;

  font-size: 17px;
  font-weight: 500;
  background-color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dropdown-menu:hover .dropdown-button {
  background-color: #2f3136;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.dropdown-content a {
  float: none;
  color: black;
  display: block;
  text-align: left;
  padding: 8px;
  font-weight: 300;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.nav-prova-button {
  border: none;
  padding: 11px 30px;
  margin-left: 20px;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}

.nav-prova-button:hover {
  background-color: rgba(255, 255, 255, 0.753);
}

/* ----------------- ESPLORA L'APP ----------------- */

.explore {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.explore h1 {
  font-size: 2.2rem;

  animation-name: fadeIn;
  animation-duration: 1s;

  animation-name: fadeInFromBottom;
  animation-duration: 1s;
}

.explore h2 {
  text-align: center;
  font-size: 10rem;
  margin-top: 20px;
  margin-bottom: 0px;

  animation-name: fadeIn;
  animation-duration: 1s;

  animation-name: fadeInFromBottom;
  animation-duration: 1s;
}

/* ----------------- MIX E RADIO ----------------- */

.mix-radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black; /* fallback per browser che non supportano il gradient */
  background: radial-gradient(
      100% 70%,
      rgba(19, 33, 74, 0.6) 40%,
      rgba(0, 0, 0, 0) 70%
    ),
    url(https://tidal.com/_nuxt/img/mixes-carousel.908b22a.jpg) no-repeat center /
      contain;
  padding: 100px 240px;
}

.scopri-link-mix a {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.scopri-link-mix a:hover {
  border-bottom: solid 1px white;
}

.mix-radio-text {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.3s;

  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-delay: 0.3s;
  width: 600px;
}

.mix-radio-img {
  display: flex;
  flex-direction: row;
  height: 680px;

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.5s;

  animation-name: fadeInFromBottom;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

/* ----------------- PLAYLIST ----------------- */

.playlist {
  display: flex;
  flex-flow: column;
  background-color: black;
  text-align: center;
  padding-bottom: 100px;
  overflow: hidden;
}

.playlist-text {
  padding: 100px 500px;
}

.playlist-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 10px;
  width: 100%;
  padding: 0px 20px;
}

.playlist-row img {
  width: 100%;
  height: 100%;
}

.playlist-cover {
  position: relative;
  width: 180px;
  height: 180px;
}

.playlist-hover-text {
  display: none;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  position: absolute;
  width: 180px;
  height: 180px;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.7);
  background-size: contain;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  opacity: 0;
}

.playlist-cover:hover .playlist-hover-text {
  display: flex;
  opacity: 1;
}

/* ----------------- VIDEO E LIVESTREAM ----------------- */

.video-live {
  display: flex;
  flex-flow: row wrap;
  background-color: black; /* fallback per browser che non supportano il gradient */
  background-image: radial-gradient(
    50% 50% at 75%,
    rgba(208, 20, 31, 0.75),
    transparent
  );
  padding: 130px 240px;
  overflow: hidden;
  justify-content: space-evenly;
}

.video-live-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 530px;
}

.video-img {
  display: flex;
  width: 430px;
  height: 380px;
}

/* ----------------- CREDITS ----------------- */

.credits {
  background-color: black; /* fallback per browser che non supportano il gradient */
  background-image: radial-gradient(50% 50% at 35%, #3a1d5e, transparent);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 135px;
  padding-left: 190px;
  padding-right: 120px;
}

.credits a {
  color: #b29eec;
  transition: all 0.3s ease-in-out;
}

.credits h2 {
  font-size: 2.5rem;
}

.credits-text {
  width: 580px;
  display: block;
}

.credits-img {
  display: flex;
  justify-content: center;
  height: 520px;
}

.scopri-link-credits a {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.scopri-link-credits a:hover {
  border-bottom: solid 1px #b29eec;
}

/* ----------------- DOVUNQUE ----------------- */

.dovunque {
  background-color: black; /* fallback per browser che non supportano il gradient */
  background-image: radial-gradient(50% 50% at 75%, #55004c, transparent);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 60px 0px 140px 0px;
}

.dovunque-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 95px;
  width: 560px;
}

.dovunque-img {
  display: flex;
  justify-content: center;
  height: 460px;
}

/* ----------------- SCOPRI DI PIÙ ----------------- */

.scopri {
  padding: 100px;
}

.scopri h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 13rem;
  color: black;
  -webkit-text-stroke: 2px rgba(128, 128, 128, 0.3);
  letter-spacing: 2px;
}

.scopri-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "grid-box1 grid-box2 grid-box3";
  column-gap: 30px;
  margin-top: 30px;
  padding: 40px 60px;
}

.scopri-grid-items {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 580px;
  width: 440px;
  transition: all 0.3s ease-in-out;
}

.scopri-grid-items h2 {
  font-size: 2.2rem;
  padding-left: 25px;
  padding-right: 25px;
}

.scopri-grid-items p {
  font-size: 1.7rem;
  padding-left: 25px;
  padding-right: 25px;
}

.scopri-grid-items span {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  font-size: 1.6rem;
  padding-left: 25px;
  padding-right: 25px;
}

.scopri-grid-items:hover {
  filter: drop-shadow(0px 0px 30px rgba(128, 128, 128, 0.2));
}

.scopri-grid-items:nth-child(1) {
  grid-column: 1;
  grid-area: grid-box1;
  position: relative;

  background: linear-gradient(180deg, #000 39%, #101012 64%);
}

.scopri-grid-items:nth-child(2) {
  grid-column: 2;
  grid-area: grid-box2;
  position: relative;

  background: linear-gradient(180deg, #101012 39%, #000 64%);
}

.scopri-grid-items:nth-child(3) {
  grid-column: 3;
  grid-area: grid-box3;
  position: relative;

  background-image: url(/img/card-soundquality.c2cb0bf.jpg);
  background-color: #101011;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-box-1 {
  position: relative;
  height: 330px;
  background-image: url(/img/devices-bg.3dd0017.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: right;
  background-position-y: bottom;
}

.grid-box-2 {
  position: relative;
  height: 330px;
  background-image: url(/img/Screenshot-2022-02-23-at-12.33.55.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-y: 60%;
  background-position-x: 50%;
}

.grid-box-3 {
  position: relative;
  height: 330px;
}

.grid-box-3 h3 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3.4rem;
  margin: 70px;
}

/* ----------------- PROVA GRATUITA ----------------- */

.prova-gratuita {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #011d27;
  padding-top: 120px;
}

.text-prova {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-prova button {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 60px;
  width: 250px;
  color: black;
  margin-top: 25px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
}

.text-prova button:hover {
  background-color: #ccd2d4;
  cursor: pointer;
}

.img-prova img {
  height: 430px;
}

/* ----------------- FOOTER ----------------- */

footer {
  background-color: #09090a;
}

footer p {
  color: #9b9b9b;
  font-size: 1.3rem;
  line-height: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "f-col1 f-col2 f-col3 f-col4 f-col5";
  padding: 100px 160px 20px 160px;
  background-color: #09090a;
  justify-content: space-around;
  font-size: 1.8rem;
}

.footer-grid h3 {
  font-size: 1.8rem;
  color: #9b9b9b;
  font-weight: 200;
}

.footer-grid-col1 a,
.footer-grid-col2 a,
.footer-grid-col3 a,
.footer-grid-col4 a,
.footer-copyright a {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 40px;
  border-bottom: solid 1px transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.footer-grid-col1 a:hover,
.footer-grid-col2 a:hover,
.footer-grid-col3 a:hover,
.footer-grid-col4 a:hover,
.footer-copyright a:hover {
  border-bottom: solid 1px #0ff;
  color: #0ff;
}

.footer-grid ul {
  padding: 0px;
}

.footer-grid-col1 {
  grid-area: f-col1;
}

.footer-grid-col2 {
  grid-area: f-col2;
}

.footer-grid-col3 {
  grid-area: f-col3;
}

.footer-grid-col4 {
  grid-area: f-col4;
}

.footer-grid-col5 {
  grid-area: f-col5;
}

ul {
  list-style-type: none;
}

li {
  line-height: 3rem;
}

.prova-button {
  margin-top: 50px;
}

.prova-button button {
  border: solid 1px #0ff;
  border-radius: 5px;
  background-color: #09090a;
  padding: 15px 0px;
  width: 100%;
  color: #0ff;
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.prova-button button:hover {
  background-color: rgba(0, 255, 255, 0.25);
}

/*  ----------------- FOOTER CREDITS ----------------- */

.footer-credits {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 150px 5px 150px;
}

.footer-credits svg {
  fill: #9b9b9b;
  width: 25px;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.footer-credits svg:hover {
  fill: white;
}

.footer-credits-col2 {
  display: flex;
  align-items: center;
}

hr {
  margin-left: 150px;
  margin-right: 150px;
  border: solid 0.3px #9b9b9b;
  opacity: 0.5;
}

.footer-copyright {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  padding: 0px 150px 50px 150px;
}

.footer-copyright svg {
  fill: #9b9b9b;
  width: 25px;
  height: 25px;
  padding-right: 15px;
  transition: all 0.3s ease-in-out;
}

.footer-copyright-col1 {
  display: flex;
  align-items: center;
}

.footer-copyright-col2 {
  display: flex;
  align-items: center;
}

.footer-copyright-col2 ul {
  list-style-type: none;
  display: inline;
}

.footer-copyright-col2 li {
  display: inline;
}

.footer-copyright-col2 a {
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 20px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}

.footer-copyright-col2 a:hover {
  color: #0ff;
  text-transform: underline;
}

/*  ----------------- MOBILE MEDIA QUERY ----------------- */

@media (min-width: 320px) and (max-width: 480px) {
  .footer-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "f-col1"
      "f-col2"
      "f-col3"
      "f-col4";
    padding: 40px 40px;
  }

  .footer-grid-col5 {
    display: none;
  }

  .scopri-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "grid-box1"
      "grid-box2"
      "grid-box3";
    row-gap: 2rem;
  }

  .explore h2 {
    font-size: 4.6rem;
  }

  h1 {
    font-size: 3rem;
  }

  .mix-radio {
    padding: 20px;
    flex-flow: row wrap;
  }

  .mix-radio-text {
    order: 2;
  }

  .mix-radio-text h1 {
    margin-top: 30px;
  }

  .mix-radio-text p {
    text-align: left;
  }

  .mix-radio-img img {
    width: 240px;
    height: 460px;
    order: 1;
  }

  .mix-radio-img {
    width: 240px;
    height: 460px;
  }

  .playlist-text {
    padding: 100px 20px;
  }

  .video-live {
    padding: 10px;
  }

  .video-img {
    width: 280px;
    height: 190px;
  }

  .video-live-text {
    order: 2;
    padding: 20px;
  }

  .video-img img {
    order: 1;
    width: 300px;
    height: 140px;
  }

  .credits {
    padding: 0px;
  }

  .credits-text {
    padding: 20px;
  }

  .credits-img {
    height: 380px;
  }

  .credits-img img {
    width: 300px;
    height: 340px;
  }

  .dovunque {
    padding: 0px;
  }

  .dovunque-img img {
    order: 1;
    width: 300px;
    height: 180px;
    padding: 30px;
  }

  .dovunque-img {
    margin-top: 40px;
    height: 210px;
  }

  .dovunque-text {
    order: 2;
    padding: 20px;
  }

  .scopri h1 {
    font-size: 4rem;
    height: 44px;
  }

  .text-prova h1 {
    font-size: 4rem;
  }

  .img-prova img {
    height: 220px;
    margin-top: 90px;
  }

  .scopri-grid {
    flex-direction: column;
    justify-content: center;
  }

  .scopri-grid-items {
    width: 330px;
  }

  .footer-grid {
    display: block;
    flex-direction: column;
    padding-left: 30px;
  }

  .footer-credits {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 10px 0px 10px;
  }

  .footer-credits p {
    margin-left: 20px;
  }

  .footer-copyright {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-copyright {
    padding: 0px 0px 0px 0px;
  }

  .footer-copyright-col2 li {
    display: block;
  }

  .footer-copyright svg {
    padding-left: 45px;
  }

  hr {
    display: none;
  }

  .footer-copyright-col2, .footer-copyright-col1 {
    margin-left: -20px;
  }

  .footer-copyright-col1 {
    padding-bottom: 20px;
  }

  .footer-credits-col2 {
    padding-left: 10px;
  }

}

/*  ----------------- TABLET MEDIA QUERY ----------------- */

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 8px;
  }

  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 6.2rem;
  }

  .explore h2 {
    font-size: 11.2rem;
  }

  .mix-radio {
    padding: 50px 30px;
    gap: 6rem;
  }

  .mix-radio-img {
    width: auto;
    height: 500px;
  }

  .mix-radio p {
    width: 328px;
  }

  .mix-radio-text {
    width: 300px;
  }

  .playlist-text {
    padding: 50px 100px;
  }

  .video-live {
    padding: 130px 30px;
  }

  .video-live-text {
    width: 350px;
    height: 120px;
    margin-left: -80px;
  }

  .video-img img {
    height: 122px;
    width: 260px;
  }

  .video-img {
    width: 130px;
    height: 100px;
  }

  .credits {
    padding-left: 0;
    padding-right: 0;
    padding: 0px;
  }

  .credits-text {
    margin-top: 50px;
    width: 350px;
  }

  .credits-text p {
    width: 328px;
  }

  .credits-img img {
    width: 240px;
    height: 280px;
    margin-top: 150px;
  }

  .scopri h1 {
    font-size: 6rem;
  }

  .scopri-grid {
    grid-template-areas:
      "grid-box1"
      "grid-box2"
      "grid-box3";
    padding: 0;
    row-gap: 2rem;
  }

  .dovunque {
    padding-bottom: 50px;
  }

  .dovunque-img img {
    height: 157px;
    margin-top: 150px;
    padding-right: 60px;
  }

  .dovunque-text {
    width: 300px;
  }

  .dovunque-text p {
    width: 325px;
  }

  .prova-gratuita {
    gap: 6rem;
    flex-flow: column wrap;
    align-items: center;
  }

  .text-prova {
    align-items: center;
  }

  .text-prova button {
    font-size: 2.1rem;
  }

  .img-prova img {
    height: 315px;
  }

  .scopri-grid-items {
    width: 520px;
    margin-left: 50px;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "f-col1 f-col2"
      "f-col3 f-col4";
    padding: 40px 40px;
  }

  .footer-grid-col5 {
    display: none;
  }

  .footer-credits {
    padding: 0px 40px 20px 40px;
  }

  .footer-copyright {
    grid-template-columns: 1fr;
    padding: 20px 40px 50px 40px;
  }

  .footer-copyright-col2 {
    justify-content: flex-end;
  }

  hr {
    margin-left: 40px;
    margin-right: 40px;
  }
}
