.conteiner{
    border:1px solid rgb(243, 239, 239);
    height:100%;
    width:100%;
    display: flex;
    gap: 10rem;
    background: rgb(55,0,68);
    background:radial-gradient(#1e0028,#000);
    color: white;
}
.card{
    border:1px solid yellow;
    width: 50%;
    height: 50%;
    padding-left: 15rem;

}
.cardimg{
    border: 1px solid red;
    height:50%;
    width: 50%;
    background-image: url("../common/imm.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.container2 {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    color:white;

}
 .fonttext {
     font-size: 10rem;
     text-align: center;
    
 }

 .textp {
font-size: 35px;
text-align: center;
padding: 30px;
 }

 .img{
height: 10%;
width: 10%;
 }
 .imgcont{
     border: 2px solid green;
     height: max-content;
     display: flex;
     gap: 1.5rem;
 }

 .container3 {
    border:5px solid red;
    height: max-content;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
 }

 .item3 {
display: flex;
height: 270px;
border: 4px solid purple;
font-size: 20px;
 }

.img3 {
    height: 240px;
}

.son3 {
    padding-left: 70px;
    margin-left: 240px;
}