.explore{
    border:1px solid rgb(243, 239, 239);
    height:100%;
    width:100%;
    display: flex;
    gap: 10rem;
    background: rgb(55,0,68);
    background:radial-gradient(#1e0028,#000);
    color: white;
}
.explore_card{
    border:1px solid yellow;
    width: 50%;
    height: 50%;
    padding-left: 15rem;

}
.explore_card-img{
    border: 1px solid red;
    height:50%;
    width: 50%;
    background-image: url("../common/imm.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.album {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    color:white;

}
 .album-text {
     font-size: 10rem;
     text-align: center;
    
 }

 .album-p {
font-size: 35px;
text-align: center;
padding: 30px;
 }

 .album_pic-pic{
height: 10%;
width: 10%;
 }
 .album_pic{
     border: 2px solid green;
     height: max-content;
     display: flex;
     gap: 1.5rem;
 }

 .info {
    border:5px solid red;
    height: max-content;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
 }

 .info_item {
display: flex;
height: 270px;
border: 4px solid purple;
font-size: 20px;
 }

.info_item-pic {
    height: 240px;
}

.info_item-pic {
    padding-left: 70px;
    margin-left: 240px;
}